.item {
  padding: 20px;
  border: 1px solid #ccc;
}

body {
  background-color: #313944;
  margin: 0;
}

#Aplicaciones {
  background-color: #4c596a;
  padding: 20px;
  border-radius: 20px;
}

.card {
  background-color: #313944;
  border-radius: 20px;
}

.card img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 20px auto 0;
}

#Reporte-text,
#Marcación-text,
#Marcación-subtext,
#Reporte-subtext {
  color: #ffffff;
}

#Reporte-button,
#Marcación-button {
  background-color: #ffffff;
  color: #313944;
  border-radius: 40px;
  padding: 10px 50px;
}

#Logo {
  width: 60%;
}

#Login {
  background-color: #313944;
  padding: 50px;
  border-radius: 20px;
}

#Titulo {
  color: #ffffff;
}

#Subtitulo {
  color: #ffffff;
}

#Usuario {
  color: #ffffff;
}

#Entrar {
  background-color: #313944;
  color: #ffffff;
  border-radius: 50px;
  padding: 20px 100px;
}

#Registro {
  background-color: #103c79;
  color: #ffffff;
  border-radius: 50px;
  padding: 20px 100px;
}

/* Media query para diseño responsive */
@media (max-width: 576px) {
  #Reporte-button,
  #Marcación-button,
  #Registro,
  #Entrar {
    padding: 10px 40px;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  #Logo {
    width: 100%;
  }
  #Login {
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
  }
}
