.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Divide en 2 columnas */
  gap: 20px;
  /* Espacio entre elementos */
}

.item {
  padding: 20px;
  border: 1px solid #ccc;
}

body {
  background-color: #313944;
  margin: 0;
}

#Aplicaciones {
  background-color: #4c596a;
  padding: 20px;
  border-radius: 20px;
}
.container {
  
}

#card-1 {
  width: 100%;
  margin-bottom: 50px;
}

#card-2 {
  width: 100%;
  margin-bottom: 50px;
}
.card {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 5px;
}

/* Media query para diseño responsive */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Cambia a 1 columna en pantallas pequeñas */
  }
}


#Login {
  background-color: #313944;
  padding: 50px;
  border-radius: 20px;
}

#Titulo {
  color: #ffffff;
}

#Subtitulo {
  color: #ffffff;
}

#Usuario {
  color: #ffffff;
}

#Entrar {
  background-color: #313944;
  color: #ffffff;
  border-radius: 50px;
  padding: 20px 100px;
}